body {
  font-family: 'Libre Baskerville',
  serif;
  margin:3px;
  background-color: whitesmoke;
  height: 100vh;
}

.app__container {
  background-image: url('./components/assets/background_img.jpeg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}



@media only screen and (max-width: 900px) {
  body {
    height: 100vh;
  }
  .app__container {
    width: 100vw;
    margin: 0;
  }

  .app__header__div {
    width: 100vw;
  }
}